<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/nav.css">
    <link rel="stylesheet" href="../static/about.css">
</head>
<body>
<header class="header">
      <a href="#" class="logo">My Portfolio</a>

      <nav class="navbar">
          <a href="#home" class="active">Home</a>
          <a href="#about">About</a>
          <a href="#education">Education</a>
          <a href="projects.html">Projects</a>
          <a href="contact.html">Contact</a>
      </nav>
</header>

<section class="home" id="home">
<div class="container">
    <div class="card1" style="--clr:#891446">
        <div class="imgBx">
            <img src="../static/images/fun.jpg">
        </div>
        <div class="content">
            <h2>Fun Facts</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium ad ducimus eligendi error eveniet illum molestias odio reiciendis saepe soluta, veritatis voluptas, voluptates. Doloribus esse incidunt itaque porro unde?</p>
            <a href="#about">Read More</a>
        </div>
    </div>
    <div class="card" data-tilt>
        <img src="../static/images/profilesized.png">
        <h2>Ally Baubooa</h2>
        <p>I'm a Full Stack Developer and Coding is Life. </p>
        <div class="links">
            <a href="https://www.facebook.com/allyhussein.baubooa"><img src="../static/images/facebook.png"></a>
            <a href="https://github.com/allybaubooa"><img src="../static/images/github-logo.png"></a>
            <a href="https://twitter.com/ally_wizzyboo"><img src="../static/images/twitter.png"></a>
        </div>
        <div class="container1">
            <div class="btn"><a href="#">Contact Me</a> </div>
        </div>
    </div>
    <div class="card1" style="--clr:#062A79">
        <div class="imgBx">
            <img src="../static/images/code.jpg">
        </div>
        <div class="content">
            <h2>Coding</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium ad ducimus eligendi error eveniet illum molestias odio reiciendis saepe soluta, veritatis voluptas, voluptates. Doloribus esse incidunt itaque porro unde?</p>
            <a href="#about">Read More</a>
        </div>
    </div>
</div>
</section>

<section class="about-section" id="about">
    <div class="about-main">
        <img src="../static/images/ProfileImage.png">
        <div class="about-text">
        <h1>About Me</h1>
            <h5>I am a <span> Full Stack Developer</span></h5>
<!--            <div class="wrapper">-->
<!--                <div class="static-txt">I'm a</div>-->
<!--                <ul class="dynamic-texts">-->
<!--                    <li><span>Full Stack Developer</span></li>-->
<!--                    <li><span>Technician</span></li>-->
<!--                    <li><span>Data Analyst</span></li>-->
<!--                    <li><span>Freelancer</span></li>-->
<!--                </ul>-->
<!--            </div>-->
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Assumenda atque consequatur distinctio dolorem explicabo iste magnam
                molestiae nesciunt officia, pariatur tempore velit? A asperiores hic in ipsum,
                mollitia provident repellendus.
            </p>
            <button type="button">Let's Talk!</button>
        </div>
    </div>
</section>

<!--<section class="education" id="education">-->
<!--    <h2 class="heading">My <span>Journey</span></h2>-->
<!--</section>-->

<script src="../static/vanilla-tilt.js"></script>
</body>
</html>

